<?xml version="1.0" encoding="UTF-8"?>
<Configuration name="App" status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>%d %5p %c{1} %X %F:%L - %m%n</Pattern>
            </PatternLayout>
        </Console>
        <File name="File" fileName="aaa.log">
            <PatternLayout>
                <Pattern>%d %5p %c{1} %X %F:%L - %m%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Root level="TRACE">
            <AppenderRef ref="Console" level="INFO"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>